<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Worker</title>
</head>
<center>
<body>
<h1>Create Worker</h1>
<form action="#" th:action="@{/worker/create}" method="post">
    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" name="firstName" required>
    <br><br>
    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" name="lastName" required>
    <br><br>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>
    <br><br>
    <label for="department_id">Department:</label>
    <select id="department_id" name="department_id" required>
        <option value="">Выберите департамент</option>
        <option th:each="department : ${departments}"
                th:value="${department.getId()}"
                th:text="${department.getDepartmentName()}">
        </option>
    </select>
    <br><br>
    <label for="role_id">Role:</label>
    <select id="role_id" name="role_id" required>
        <option value="">Выберите роль</option>
        <option th:each="role : ${roles}"
                th:value="${role.getId()}"
                th:text="${role.getRoleName()}">
        </option>
    </select>
    <br><br>
    <input type="submit" value="Create">
</form>
</body>
</center>
</html>