<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Project</title>
</head>
<center>
    <body>
    <table>
        <tr>
            <th>Project Name</th>
            <th> Worker Name</th>
            <th> Worker Surname</th>
            <th> Worker Role</th>
        </tr>
        <tr th:each="project: ${projects}">
            <td th:text="${project.getProjectName()}"></td>
            <td th:text="${project.getWorkerName()}"></td>
            <td th:text="${project.getWorkerLastName()}"></td>
            <td th:text="${project.getWorkerRole()}"></td>
            <!--<td>
                <form th:action="@{/project/update/{id}(id=${project.id})}" method="get">
                    <button type="submit">Edit</button>
                </form>
            </td>-->
            <td>
                <form th:action="@{/project/worker/delete(projectId=${project.getProject_id()},workerId=${project.getWorker_id()})}" method="post">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
    </table>
    <p>
    <form th:action="@{/project/worker/create}" method="get">
        <button type="submit">Create Project</button>
    </form>
    </p>
    </body>
</center>
</html>
