<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Workers</title>
</head>
<center>
    <body>
    <table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Department</th>
            <th>Role</th>
        </tr>
        <tr th:each="worker : ${workers}">
            <td th:text="${worker.getFirstName()}"></td>
            <td th:text="${worker.getLastName()}"></td>
            <td th:text="${worker.getEmail()}"></td>
            <td th:text="${worker.getDepartmentName()}"></td>
            <td th:text="${worker.getRoleName()}"></td>
            <td>
                <form th:action="@{/worker/update/{id}(id=${worker.id})}" method="get">
                    <button type="submit">Edit</button>
                </form>
            </td>
            <td>
                <form th:action="@{/worker/delete/{id}(id=${worker.id})}" method="post">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
    </table>
    <p>
    <form th:action="@{/worker/create}" method="get">
        <button type="submit">Create Worker</button>
    </form>
    </p>
    </body>
</center>
</html>
