<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit Project</title>
</head>
<center>
  <body>
  <h1>Edit Project</h1>
  <form th:object="${project}" th:action="@{/project/update/{id}(id=${project.getId()})}" method="post">
    <label for="projectName">Project Name:</label>
    <input type="text" id="projectName" th:field="*{projectName}" required>
    <br><br>
    <label for="projectClient">Project Client:</label>
    <input type="text" id="projectClient" th:field="*{projectClient}" required>
    <br><br>
    <input type="submit" value="Update">
  </form>
  </body>
</center>
</html>